.cart-title {
  text-align: center;
  margin: 25px 0;
}
.cart-product-container {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .cart-product-details {
//   margin-left: 20px;
// }
.cart-product-image {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 5px;
}
.cart-product-name {
  font-size: 20px;
}
.cart-product-price {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.cart-product-button {
  background-color: #1a1b1b; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  height: 50px;
}
.cart-product-quantity {
  font-size: 20px;
  font-weight: bold;
  margin: 20;
}

.cart-product-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product-delete-button {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  border: 2px solid red;
  padding: 5px;
  //   margin-left: 20px;
  border-radius: 5px;
  //   display: flex;
  //   align-items: center;
}
