.categories-page-title {
  text-align: center !important;
  font-size: 36px;
  background-color: white;
  margin: 25px 0px;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.single-catgory-card {
  background-color: rgb(226, 226, 226);
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 10px;
  width: 260px;
  height: 111px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .productsWithCartList {
    display: flex;
    flex-direction: column !important;
  }
  .category-list {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    flex-direction: row !important;
  }
  .single-catgory-card {
    background-color: rgb(226, 226, 226);
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 10px;
    width: 260px;
    height: 111px;
    cursor: pointer;
  }
}
@media (min-width: 769px) {
  .productsWithCartList {
    display: flex;
    flex-direction: row !important;
  }
}
.single-catgory-card p {
  font-size: 20px;
  font-weight: bold;
}

.category-icon {
  width: 65px;
  height: 65px;
  margin-left: 20px;
}
.category-name {
  margin-left: 20px;
  font-weight: bold;
}
